<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<category
			name="myProblemsView"
			id="ai.deepcode">
		</category>
		<view
			name="myProblemsView"
            icon="icons/show.png"
			category="ai.deepcode"
			class="ai.deepcode.parts.MyProblemsView"
			id="ai.deepcode.parts.myProblemsView">
		</view>
	</extension>
	
	<extension	point="org.eclipse.ui.commands">
      <command
            id="ai.deepcode.analyse"
            defaultHandler="ai.deepcode.handlers.AnalysisHandler"
            name="Full analysis">
      </command>
	</extension>
	
    <extension point="org.eclipse.ui.menus">
	  <menuContribution locationURI="toolbar:ai.deepcode.parts.myProblemsView?after=additions">
         <command
               commandId="ai.deepcode.analyse"
               icon="icons/show.png"
               tooltip="Run full analysis">
         </command>
      </menuContribution>
	  <menuContribution locationURI="toolbar:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="ai.deepcode.analyse"
               icon="icons/show.png"
               tooltip="Run full analysis">
         </command>
      </menuContribution>
	</extension>
    <extension
          id="deepcodemarker"
          name="DeepCode"
          point="org.eclipse.core.resources.markers">
       <persistent
             value="false">
       </persistent>
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
    </extension>

</plugin>
